@charset "UTF-8";
body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, "MS PGothic", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background-color: #E4E2DE;
}
@media (width <= 760px) {
  body {
    background-color: #0F3256;
  }
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

html {
  scroll-behavior: smooth;
}

.unit {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.unit-pic-src {
  border-radius: 25px;
}
.unit-text {
  width: 100%;
  padding: 15px;
  color: #fff;
  background-color: rgba(66, 117, 159, 0.7019607843);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  position: absolute;
  bottom: 0;
  z-index: 999;
  box-sizing: border-box;
}
.unit-title {
  font-size: 20px;
  font-weight: bold;
}
@media (width <= 760px) {
  .unit-title {
    font-size: 16px;
  }
}
.unit-date {
  font-weight: bold;
}
@media (width <= 760px) {
  .unit-date {
    font-size: 14px;
  }
}
.unit-link {
  margin-top: 5px;
}
.unit-link-src {
  display: inline-block;
  margin: 5px 10px 0 0;
}

.events {
  padding: 250px 0;
  background-color: #E4E2DE;
}
@media (width <= 760px) {
  .events {
    background-color: #0F3256;
  }
}
.events__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.events__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 40px;
}
@media (width <= 760px) {
  .events__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 50, 86, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: relative;
  padding: 50px;
  color: #0F3256;
  background-color: #E4E2DE;
  border-radius: 25px;
  max-width: 1000px;
  width: 90%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}
@media (width <= 760px) {
  .modal {
    padding: 30px 15px;
  }
}
.modal__scroll-area {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.modal__close {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 85px;
  height: 85px;
  z-index: 999999;
  background-color: #0F3256;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
@media (width <= 760px) {
  .modal__close {
    width: 60px;
    height: 60px;
    top: -25px;
    right: 0;
  }
}
.modal__close::before, .modal__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 2px;
  background-color: #E4E2DE;
}
@media (width <= 760px) {
  .modal__close::before, .modal__close::after {
    width: 30px;
  }
}
.modal__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.modal__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.modal__column {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (width <= 760px) {
  .modal__column {
    grid-template-columns: none;
  }
}
.modal__date {
  font-weight: bold;
}
.modal__title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}
.modal__pic-src {
  border-radius: 25px;
  display: block;
  aspect-ratio: 9/6;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (width <= 760px) {
  .modal__text {
    margin-top: 30px;
  }
}
.modal__link {
  margin-top: 30px;
}
@media (width <= 760px) {
  .modal__link {
    margin-top: 20px;
  }
}
.modal__link-src {
  display: inline-block;
  margin: 10px 20px 0 0;
}
.modal__comments {
  margin-top: 30px;
  display: grid;
  row-gap: 25px;
}
@media (width <= 760px) {
  .modal__comments {
    row-gap: 15px;
  }
}
.modal__comments-comment {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
}
.modal__comments-comment-icon {
  margin-top: 10px;
  width: 60px;
  height: auto;
}
.modal__comments-comment-text {
  margin-left: 10px;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 25px;
  position: relative;
}
.modal__comments-comment-text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 25px;
  transform: translateX(-100%);
  border-style: solid;
  border-width: 8px 12px 8px 0;
  border-color: transparent #fff transparent transparent;
}
.modal__comments-comment:nth-child(even) {
  grid-template-columns: 1fr auto;
}
.modal__comments-comment:nth-child(even) .modal__comments-comment-icon {
  order: 2;
}
.modal__comments-comment:nth-child(even) .modal__comments-comment-text {
  order: 1;
  margin-left: 0;
  margin-right: 10px;
}
.modal__comments-comment:nth-child(even) .modal__comments-comment-text::after {
  left: auto;
  right: 0;
  transform: translateX(100%);
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent #fff;
}

.modal__swiper {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}
.modal__pagenation .swiper-pagination-bullet {
  background-color: #0B3254;
  opacity: 100%;
}
.modal__pagenation .swiper-pagination-bullet-active {
  background-color: #e68e00;
  z-index: 999;
}

.contact {
  padding: 250px 0;
  color: #0B3254;
  background: #E4E2DE;
}
@media (width <= 760px) {
  .contact {
    padding: 80px 0 150px 0;
    color: #E4E2DE;
    background: #0B3254;
  }
}
.contact__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.contact__title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
@media (width <= 760px) {
  .contact__title {
    font-size: 24px;
  }
}
.contact__form {
  margin-top: 80px;
  display: grid;
  row-gap: 60px;
}
@media (width <= 760px) {
  .contact__form {
    margin-top: 50px;
    row-gap: 40px;
  }
}
.contact__unit {
  border: none;
  padding: 0;
  /* ラジオボタンが押された時（checked）の動き */
}
.contact__unit-label {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.contact__unit-label-required {
  margin-left: 10px;
  padding: 5px 10px;
  color: #E4E2DE;
  background-color: #0B3254;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
}
@media (width <= 760px) {
  .contact__unit-label-required {
    color: #0B3254;
    background-color: #E4E2DE;
  }
}
.contact__unit-input {
  width: 100%;
  margin-top: 15px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}
.contact__unit-input::-moz-placeholder {
  color: rgba(11, 50, 84, 0.7);
  opacity: 1;
}
.contact__unit-input::placeholder {
  color: rgba(11, 50, 84, 0.7);
  opacity: 1;
}
.contact__unit-textarea {
  width: 100%;
  height: 300px;
  margin-top: 15px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}
.contact__unit-radio {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 15px;
}
.contact__unit-content {
  display: flex;
  align-items: center;
}
.contact__unit-txt {
  display: flex;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
}
.contact__unit-txt::before, .contact__unit-txt::after {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  box-sizing: border-box;
}
.contact__unit-txt::before {
  width: 15px;
  height: 15px;
  border: 2px solid #0B3254;
}
@media (width <= 760px) {
  .contact__unit-txt::before {
    border: 2px solid #E4E2DE;
  }
}
.contact__unit-txt::after {
  width: 15px;
  height: 15px;
  background-color: #0B3254;
  transform: translateY(-50%) scale(0);
}
@media (width <= 760px) {
  .contact__unit-txt::after {
    background-color: #E4E2DE;
  }
}
.contact__unit-check:checked + .contact__unit-txt::after {
  transform: translateY(-50%) scale(1);
  -webkit-animation: anim-radio-2 0.3s linear;
          animation: anim-radio-2 0.3s linear;
}

.flow {
  margin-top: 250px;
  color: #0F3256;
}
@media (width <= 760px) {
  .flow {
    margin-top: 150px;
    color: #E4E2DE;
  }
}
.flow__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.flow__title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
@media (width <= 760px) {
  .flow__title {
    font-size: 24px;
  }
}
.flow__list {
  margin-top: 80px;
  display: grid;
  row-gap: 105px;
}
@media (width <= 760px) {
  .flow__list {
    margin-top: 50px;
    row-gap: 40px;
  }
}
.flow__item {
  display: flex;
  -moz-column-gap: 65px;
       column-gap: 65px;
  align-items: center;
}
@media (width <= 760px) {
  .flow__item {
    -moz-column-gap: 30px;
         column-gap: 30px;
    align-items: start;
  }
}
.flow__step {
  display: grid;
  color: #E4E2DE;
  background-color: #0F3256;
  padding: 30px 43px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-weight: bold;
  text-align: center;
  border-radius: 100px;
}
@media (width <= 760px) {
  .flow__step {
    background-color: #E4E2DE;
    color: #0F3256;
    margin-top: 10px;
    padding: 15px 21px;
    font-size: 12px;
  }
}
.flow__num {
  font-size: 32px;
}
@media (width <= 760px) {
  .flow__num {
    font-size: 18px;
  }
}
.flow__content {
  display: grid;
  row-gap: 15px;
}
@media (width <= 760px) {
  .flow__content {
    row-gap: 10px;
  }
}
.flow__subtitle {
  font-size: 24px;
  font-weight: bold;
}
@media (width <= 760px) {
  .flow__subtitle {
    font-size: 20px;
  }
}

.voice {
  color: #0F3256;
  margin-top: 250px;
}
@media (width <= 760px) {
  .voice {
    margin-top: 150px;
    color: #E4E2DE;
  }
}
.voice__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.voice__title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
@media (width <= 760px) {
  .voice__title {
    font-size: 24px;
  }
}
.voice__list {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 40px;
}
@media (width <= 760px) {
  .voice__list {
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
  }
}
.voice__content {
  display: block;
  width: 300px;
  padding: 20px 50px;
  color: #E4E2DE;
  background-color: #0F3256;
  border-radius: 50px;
  position: relative;
  padding-right: 50px;
}
@media (width <= 760px) {
  .voice__content {
    width: 180px;
    color: #0B3254;
    background-color: #E4E2DE;
    padding: 15px 30px;
  }
}
.voice__pulldown {
  width: 100%;
  cursor: pointer;
  text-align: left;
}
.voice__arrow {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
@media (width <= 760px) {
  .voice__arrow {
    right: 20px;
  }
}
.voice__select {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
  margin-top: 80px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
@media (width <= 760px) {
  .voice__select {
    margin-top: 50px;
    font-size: 16px;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.voice__impress {
  max-width: 80px;
  border-bottom: 1px solid;
}

.pc-price {
  color: #0F3256;
  margin: 250px 0;
}
@media (width <= 760px) {
  .pc-price {
    display: none;
  }
}
.pc-price__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.pc-price__title {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}
.pc-price__table {
  width: 100%;
  font-weight: bold;
  text-align: center;
}
.pc-price__body {
  margin-top: 80px;
  display: grid;
  row-gap: 3px;
}
.pc-price__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 3px;
       column-gap: 3px;
}
.pc-price__cell {
  padding: 30px;
  background-color: #fff;
  font-size: 24px;
}
.pc-price__cell-rowtitle {
  color: #E4E2DE;
  background-color: #4B7892;
  font-size: 20px;
}
.pc-price__cell-rowtitle:first-child {
  opacity: 0;
}
.pc-price__cell-coltitle {
  display: grid;
  align-items: center;
  font-size: 20px;
}
.pc-price__caption {
  font-size: 14px;
}
.pc-price__tax {
  font-size: 18px;
}
.pc-price__attention {
  margin-top: 50px;
}
.pc-price__instagram-dm, .pc-price__gmail {
  border-bottom: 1px solid;
}

.sp-price {
  display: none;
  margin-bottom: 0;
}
@media (width <= 760px) {
  .sp-price {
    display: block;
    margin-bottom: 150px;
  }
}
@media (width <= 760px) {
  .sp-price__inner {
    max-width: 1100px;
    width: 90%;
    margin-inline: auto;
  }
}
.sp-price__title {
  margin-top: 120px;
  color: #E4E2DE;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
@media (width <= 760px) {
  .sp-price__tab {
    margin-top: 50px;
    --cstm-tab-color: #E4E2DE;
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (width <= 760px) {
  .sp-price__tab-label {
    color: #E4E2DE;
    padding-bottom: 5px;
    font-weight: bold;
    text-align: center;
    flex: 1;
    cursor: pointer;
    order: -1;
    position: relative;
    border-bottom: 1px solid #E4E2DE;
  }
  .sp-price__tab-label:has(:checked) {
    color: #E68E00;
    border-bottom-color: #E68E00;
  }
  .sp-price__tab-label:has(:checked)::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 10px;
    background-color: #E68E00;
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
            clip-path: polygon(0 0, 100% 0, 50% 100%);
    z-index: 1;
  }
  .sp-price__tab-label:has(:checked) + .sp-price__tab-content {
    display: block;
    -webkit-animation: tabFadeIn 0.35s ease-in-out forwards;
            animation: tabFadeIn 0.35s ease-in-out forwards;
  }
  @-webkit-keyframes tabFadeIn {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tabFadeIn {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
}
@media (width <= 760px) {
  .sp-price__tab-content {
    margin-top: 30px;
    display: none;
    width: 100%;
  }
}
@media (width <= 760px) {
  .sp-price__switch {
    display: grid;
    row-gap: 10px;
  }
}
@media (width <= 760px) {
  .sp-price__switch--num {
    grid-auto-flow: column;
    justify-content: center;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (width <= 760px) {
  .sp-price__switch-label {
    color: #E4E2DE;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 15px 30px;
    font-weight: bold;
    border: 2px solid #E4E2DE;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  .sp-price__switch-label:has(:checked) {
    background-color: #e68e00;
    color: #fff;
  }
}
@media (width <= 760px) {
  .sp-price__table {
    margin-top: 30px;
    width: 100%;
    font-weight: bold;
    text-align: center;
  }
}
.sp-price__table .is-text-fadeIn {
  -webkit-animation: textFadeIn 0.5s ease-in-out forwards;
          animation: textFadeIn 0.5s ease-in-out forwards;
}
@-webkit-keyframes textFadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes textFadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@media (width <= 760px) {
  .sp-price__body {
    width: 100%;
    display: grid;
    row-gap: 5px;
  }
}
@media (width <= 760px) {
  .sp-price__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
@media (width <= 760px) {
  .sp-price__cell {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 30px 10px;
    color: #0F3256;
    background-color: #fff;
    font-size: 20px;
    justify-content: center;
  }
}
@media (width <= 760px) {
  .sp-price__cell-rowtitle {
    color: #E4E2DE;
    background-color: #4B7892;
    grid-column: 1/-1;
  }
}
@media (width <= 760px) {
  .sp-price__cell-coltitle {
    font-size: 16px;
  }
}
@media (width <= 760px) {
  .sp-price__tax {
    font-size: 14px;
  }
}
@media (width <= 760px) {
  .sp-price__attention {
    color: #E4E2DE;
    margin-top: 50px;
    display: grid;
    row-gap: 15px;
  }
}
@media (width <= 760px) {
  .sp-price__instagram-dm, .sp-price__gmail {
    border-bottom: 1px solid;
  }
}
/*# sourceMappingURL=style-takeoka.css.map */