@charset "UTF-8";
body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, "MS PGothic", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

/* ----------------------------------------------------------------
header
----------------------------------------------------------------*/
.header__inner {
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
}
.header__hamburger {
  background-color: #0F3256;
  padding: 20px;
  border-radius: 50%;
  position: fixed;
  z-index: 200;
  top: 30px;
  right: 30px;
  width: 85px;
  height: 85px;
  z-index: 1100;
}
.header__hamburger-bar {
  display: grid;
  gap: 10px;
  width: 45px;
  height: 2px;
  background-color: #E4E2DE;
  position: absolute;
  transition: all 0.3s ease-in-out;
  left: 50%;
  top: 50%;
}
.header__hamburger-bar:nth-child(1) {
  transform: translate(-50%, -12px);
}
.header__hamburger-bar:nth-child(2) {
  transform: translate(-50%, 0);
}
.header__hamburger-bar:nth-child(3) {
  transform: translate(-50%, 12px);
}
.header__hamburger-bar:nth-child(3).active {
  background-color: #0F3256;
}
.header__hamburger.active {
  background-color: #E4E2DE;
}
.header__hamburger.active .header__hamburger-bar {
  background-color: #0F3256;
}
.header__hamburger.active .header__hamburger-bar:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.header__hamburger.active .header__hamburger-bar:nth-child(2) {
  opacity: 0;
}
.header__hamburger.active .header__hamburger-bar:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.gnav {
  position: fixed;
  top: 0;
  right: 0;
  width: 365px;
  height: 100vh;
  background-color: #0F3256;
  border-radius: 50px 0 0 50px;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 1000;
}
.gnav.active {
  transform: translateX(0);
}
.gnav__list {
  padding: 135px 0 55px 50px;
}
.gnav__item {
  padding-bottom: 35px;
  line-height: 2;
  color: #E4E2DE;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}
.gnav__item::after {
  content: "";
  display: block;
  width: 270px;
  border-bottom: 1px solid #E4E2DE;
}
.gnav__item:hover {
  color: #e68e00;
}

/* ----------------------------------------------------------------
main
----------------------------------------------------------------*/
.main {
  background-color: #E4E2DE;
}

/* ----------------------------------------------------------------
mainvisual
----------------------------------------------------------------*/
.mainvisual {
  background: url(../images/batako.png) no-repeat center center/cover;
  height: 90vh;
}
.mainvisual__inner {
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
}

/* ----------------------------------------------------------------
検索
----------------------------------------------------------------*/
.search {
  color: #0F3256;
  text-align: center;
}
.search__inner {
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
}
.search__title {
  font-size: 50px;
  font-weight: bold;
  margin: 40px 0 60px 0;
}
.search__form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 70px;
  padding: 0 40px 0 96px;
  background: #fff;
  border-radius: 50px;
}
.search__input {
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: left;
  font-weight: 600;
}
.search__button {
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  border: none;
  background: transparent;
  cursor: pointer;
}

/* ----------------------------------------------------------------
タグスライド
----------------------------------------------------------------*/
.slider {
  margin-top: 70px;
  overflow: hidden;
}
.slider__row {
  display: flex;
  gap: 30px;
  animation: slide 20s linear infinite;
}
.slider__triangle {
  position: relative;
  display: block;
  width: 154px;
  height: 154px;
}
.slider__triangle img {
  display: block;
  width: 100%;
}
.slider__triangle span {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.slider__triangle--left img {
  transform: rotate(0deg);
}
.slider__triangle--left span {
  left: 35%;
  bottom: 20%;
  transform: translateX(-50%);
}
.slider__triangle--top img {
  transform: rotate(270deg);
}
.slider__triangle--top span {
  left: 35%;
  top: 20%;
  transform: translateX(-50%);
}
.slider__triangle--right img {
  transform: rotate(180deg);
}
.slider__triangle--right span {
  right: 35%;
  top: 20%;
  transform: translateX(50%);
}
.slider__triangle--bottom img {
  transform: rotate(90deg);
}
.slider__triangle--bottom span {
  right: 35%;
  bottom: 20%;
  transform: translateX(50%);
}
.slider__wrapper {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 30px;
  animation: marquee 20s linear infinite;
}
.slider__row {
  display: flex;
  gap: 30px;
  flex-shrink: 0;
  margin-right: 30px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* ----------------------------------------------------------------
サービス
----------------------------------------------------------------*/
.service {
  margin-top: 30px;
}
.service__inner {
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
}
.service__grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: start;
}
.service__grid-img {
  padding: 220px 0;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 25px;
  position: sticky;
  top: 0;
}
.service__introduction {
  padding: 280px 0;
  display: grid;
  row-gap: 120px;
}

.unit {
  color: #0F3256;
}
.unit__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
.unit__text {
  margin-bottom: 35px;
}
.unit__btn {
  position: relative;
  padding: 10px 30px;
  display: block;
  margin-left: auto;
  border: 1px solid #0F3256;
  border-radius: 35px;
  transition: 0.3s;
  cursor: pointer;
}
.unit__btn:hover {
  background-color: #e68e00;
}
.unit__btn:hover::after {
  transform: translateY(-50%) translateX(10px);
}
.unit__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 40px;
  height: 1px;
  background-color: #0F3256;
  transition: transform 0.3s;
}

/* ----------------------------------------------------------------
お知らせリスト
----------------------------------------------------------------*/
.news {
  margin-top: 30px;
  color: #0F3256;
}
.news__inner {
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
}
.news__list {
  display: grid;
  gap: 50px;
}
.news__item-link {
  display: flex;
  align-items: center;
}
.news__item .fa-arrow-right {
  margin-left: auto;
}
.news__item-date {
  margin-right: 50px;
  position: relative;
  padding-right: 50px;
}
.news__item-date::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 72px;
  background-color: #0F3256;
}
.news__item_year {
  font-size: 16px;
}
.news__item-day {
  font-size: 32px;
}

.access__inner {
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
}
.access__info {
  position: relative;
  background: #0F3256;
  color: #E4E2DE;
  width: calc(50% + 42px);
  margin: -85px -7px 0 -35px;
  box-sizing: border-box;
  padding: 110px 0 85px 95px;
  text-align: left;
  clip-path: polygon(15px 35px, calc(100% - 25px) 0, 100% 100%, 0% calc(100% - 30px));
}/*# sourceMappingURL=style.css.map */