@charset "UTF-8";
body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, "MS PGothic", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background-color: #E4E2DE;
}
@media (width <= 760px) {
  body {
    background-color: #0F3256;
  }
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

html {
  scroll-behavior: smooth;
}

/* ----------------------------------------------------------------
header
----------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}
.header__inner {
  height: 100%;
}
.header__logo {
  position: absolute;
  padding: 0 10%;
  width: 100%;
  left: 0;
}
@media (width <= 760px) {
  .header__logo {
    padding-top: 50px;
  }
}
.header__hamburger {
  background-color: #0F3256;
  padding: 20px;
  border: 4px solid #0F3256;
  border-radius: 50%;
  position: absolute;
  z-index: 200;
  top: 50px;
  right: 40px;
  width: 85px;
  height: 85px;
  z-index: 1100;
}
@media (width <= 760px) {
  .header__hamburger {
    background-color: #E4E2DE;
    top: auto;
    bottom: 30px;
    right: 30px;
  }
}
.header__hamburger-bar {
  display: grid;
  gap: 10px;
  width: 45px;
  height: 2px;
  background-color: #E4E2DE;
  position: absolute;
  transition: all 0.3s ease-in-out;
  left: 50%;
  top: 50%;
}
@media (width <= 760px) {
  .header__hamburger-bar {
    background-color: #0F3256;
  }
}
.header__hamburger-bar:nth-child(1) {
  transform: translate(-50%, -12px);
}
.header__hamburger-bar:nth-child(2) {
  transform: translate(-50%, 0);
}
.header__hamburger-bar:nth-child(3) {
  transform: translate(-50%, 12px);
}
.header__hamburger-bar:nth-child(3).active {
  background-color: #0F3256;
}
@media (width <= 760px) {
  .header__hamburger-bar:nth-child(3).active {
    background-color: #E4E2DE;
  }
}
.header__hamburger.active {
  background-color: #E4E2DE;
}
@media (width <= 760px) {
  .header__hamburger.active {
    background-color: #0F3256;
  }
}
.header__hamburger.active .header__hamburger-bar {
  background-color: #0F3256;
}
@media (width <= 760px) {
  .header__hamburger.active .header__hamburger-bar {
    background-color: #E4E2DE;
  }
}
.header__hamburger.active .header__hamburger-bar:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.header__hamburger.active .header__hamburger-bar:nth-child(2) {
  opacity: 0;
}
.header__hamburger.active .header__hamburger-bar:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.header__contact {
  position: absolute;
  top: 160px;
  right: 40px;
}
@media (width <= 760px) {
  .header__contact {
    top: auto;
    bottom: 150px;
    right: 30px;
  }
}
.header__contact-fixed {
  position: relative;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E4E2DE;
  color: #0F3256;
  border-radius: 50%;
  border: 4px solid #0F3256;
  font-size: 40px;
  transition: 0.2s;
  z-index: 100;
}
.header__contact span {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #0F3256;
  color: #E4E2DE;
  padding: 0 100px 0 25px;
  height: 85px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  white-space: nowrap;
  opacity: 0;
  transition: 0.3s;
  z-index: 1;
}
.header__contact:hover span {
  opacity: 1;
  right: 0px;
}
.header__contact:hover .header__contact-fixed {
  background-color: #e68e00;
  color: #0F3256;
}

.gnav {
  position: relative;
  width: 365px;
  height: 100%;
  background-color: #0F3256;
  border-radius: 50px 0 0 50px;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 1000;
  margin-left: auto;
}
@media (width <= 760px) {
  .gnav {
    background-color: #E4E2DE;
  }
}
.gnav.active {
  transform: translateX(0);
}
.gnav__list {
  padding: 135px 0 55px 50px;
}
.gnav__item {
  padding-bottom: 35px;
  line-height: 2;
  color: #E4E2DE;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}
@media (width <= 760px) {
  .gnav__item {
    color: #0F3256;
  }
}
.gnav__item::after {
  content: "";
  display: block;
  width: 270px;
  border-bottom: 1px solid #E4E2DE;
}
@media (width <= 760px) {
  .gnav__item::after {
    border-color: #0F3256;
  }
}
.gnav__item:hover {
  color: #e68e00;
}

/* ----------------------------------------------------------------
mainvisual
----------------------------------------------------------------*/
.mainvisual {
  padding: 60px;
  position: relative;
  height: 100vh;
}
.mainvisual__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.mainvisual__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 50px;
}
.mainvisual__topics {
  position: absolute;
  right: 60px;
  bottom: 110px;
  background-color: #0F3256;
  border-radius: 30px 0 0 30px;
  width: 430px;
  padding: 35px 70px 35px 50px;
  color: #E4E2DE;
}
@media (width <= 760px) {
  .mainvisual__topics {
    background-color: #E4E2DE;
    color: #0F3256;
  }
}
.mainvisual__topics-header {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 30px;
}
.mainvisual__topics-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.mainvisual__topics-list {
  display: grid;
  gap: 15px;
}
.mainvisual__time {
  font-size: 16px;
  font-weight: 600;
}

/* ----------------------------------------------------------------
検索
----------------------------------------------------------------*/
.search {
  color: #0F3256;
  text-align: center;
}
@media (width <= 760px) {
  .search {
    color: #E4E2DE;
  }
}
.search__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.search__title {
  font-size: 50px;
  font-weight: bold;
  margin: 40px 0 60px 0;
}
@media (width <= 760px) {
  .search__title {
    font-size: 24px;
    margin: 30px 0;
  }
}
.search__form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 70px;
  padding: 0 40px 0 96px;
  background: #fff;
  border-radius: 50px;
}
.search__input {
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: left;
  font-weight: 600;
}
.search__button {
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  border: none;
  background: transparent;
  cursor: pointer;
}

/* ----------------------------------------------------------------
タグスライド
----------------------------------------------------------------*/
.slider {
  margin-top: 70px;
  overflow: hidden;
}
.slider__row {
  display: flex;
  gap: 30px;
  -webkit-animation: slide 20s linear infinite;
          animation: slide 20s linear infinite;
}
.slider__triangle {
  position: relative;
  display: block;
  width: 154px;
  height: 154px;
}
.slider__triangle img {
  display: block;
  width: 100%;
}
.slider__triangle span {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.slider__triangle--left img {
  transform: rotate(0deg);
}
.slider__triangle--left span {
  left: 35%;
  bottom: 20%;
  transform: translateX(-50%);
}
.slider__triangle--top img {
  transform: rotate(270deg);
}
.slider__triangle--top span {
  left: 35%;
  top: 20%;
  transform: translateX(-50%);
}
.slider__triangle--right img {
  transform: rotate(180deg);
}
.slider__triangle--right span {
  right: 35%;
  top: 20%;
  transform: translateX(50%);
}
.slider__triangle--bottom img {
  transform: rotate(90deg);
}
.slider__triangle--bottom span {
  right: 35%;
  bottom: 20%;
  transform: translateX(50%);
}
.slider__wrapper {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 30px;
  -webkit-animation: marquee 20s linear infinite;
          animation: marquee 20s linear infinite;
}
.slider__row {
  display: flex;
  gap: 30px;
  flex-shrink: 0;
  margin-right: 30px;
}

@-webkit-keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* ----------------------------------------------------------------
サービス
----------------------------------------------------------------*/
.service {
  margin-top: 30px;
}
.service__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.service__grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: start;
}
.service__grid-img {
  padding: 220px 0;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 25px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
@media (width <= 760px) {
  .service__grid {
    display: none;
  }
}
.service__introduction {
  padding: 280px 0;
  display: grid;
  row-gap: 120px;
}

.unit {
  color: #0F3256;
}
@media (width <= 760px) {
  .unit {
    color: #E4E2DE;
  }
}
.unit__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
.unit__text {
  margin-bottom: 35px;
}
.unit__btn {
  position: relative;
  padding: 10px 30px;
  display: block;
  margin-left: auto;
  border: 1px solid #0F3256;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 35px;
  transition: 0.3s;
  cursor: pointer;
}
@media (width <= 760px) {
  .unit__btn {
    border-color: #E4E2DE;
  }
}
.unit__btn:hover {
  background-color: #e68e00;
}
.unit__btn:hover::after {
  transform: translateY(-50%) translateX(10px);
}
.unit__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 40px;
  height: 1px;
  background-color: #0F3256;
  transition: transform 0.3s;
}
@media (width <= 760px) {
  .unit__btn::after {
    background-color: #E4E2DE;
  }
}

.service-card {
  margin-top: 150px;
}
.service-card__img {
  border-radius: 10px;
}
.service-card__title {
  margin-top: 55px;
  font-size: 24px;
  font-weight: bold;
  color: #E4E2DE;
}
.service-card__text {
  margin-top: 20px;
  font-size: 16px;
  color: #E4E2DE;
}
.service-card__btn {
  margin: 35px 20px 0 auto;
  position: relative;
  padding: 10px 30px;
  display: block;
  border: 1px solid #E4E2DE;
  color: #E4E2DE;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 35px;
  transition: 0.3s;
  cursor: pointer;
}
.service-card__btn:hover {
  background-color: #e68e00;
}
.service-card__btn:hover::after {
  transform: translateY(-50%) translateX(10px);
}
.service-card__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 40px;
  height: 1px;
  background-color: #E4E2DE;
  transition: transform 0.3s;
}

.service__swiper {
  display: none;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}
@media (width <= 760px) {
  .service__swiper {
    display: block;
  }
}

.mobile__swiper-slide img {
  display: block;
  width: 100%;
  aspect-ratio: 9/6;
  -o-object-fit: cover;
     object-fit: cover;
}

.mobile__swiper-pagination .swiper-pagination-bullet {
  background-color: #E4E2DE;
  opacity: 1;
}

.mobile__swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e68e00;
}

/* ----------------------------------------------------------------
お知らせリスト
----------------------------------------------------------------*/
.news {
  margin-top: 30px;
  color: #0F3256;
}
@media (width <= 760px) {
  .news {
    margin-top: 150px;
    color: #E4E2DE;
  }
}
.news__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.news__list {
  display: grid;
  gap: 50px;
}
.news__item-link {
  display: flex;
  align-items: center;
}
.news__item .fa-arrow-right {
  margin-left: auto;
}
.news__item-date {
  margin-right: 50px;
  position: relative;
  padding-right: 50px;
}
.news__item-date::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 72px;
  background-color: #0F3256;
}
@media (width <= 760px) {
  .news__item-date::after {
    background-color: #E4E2DE;
  }
}
.news__item_year {
  font-size: 16px;
}
.news__item-day {
  font-size: 32px;
}

/* ----------------------------------------------------------------
アクセス
----------------------------------------------------------------*/
.access {
  padding-top: 250px;
  padding-bottom: 250px;
}
@media (width <= 760px) {
  .access {
    margin-top: 150px;
    padding: 150px 0;
    background-color: #E4E2DE;
  }
}
.access__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.access__unit {
  display: flex;
  align-items: center;
  position: relative;
}
@media (width <= 760px) {
  .access__unit {
    display: flex;
    flex-direction: column-reverse;
  }
}
.access__map {
  width: 100%;
  position: relative;
  z-index: 2;
}
@media (width <= 760px) {
  .access__map {
    margin-top: 100px;
  }
}
.access__frame {
  width: 530px;
  height: 500px;
  border: none;
  display: block;
}
@media (width <= 760px) {
  .access__frame {
    width: 100%;
    height: 400px;
  }
}
.access__info {
  display: grid;
  gap: 22px;
  position: relative;
  background-color: #0F3256;
  color: #E4E2DE;
  width: 100%;
  margin: -105px -7px 0 -85px;
  padding: 95px 95px 95px 140px;
  box-sizing: border-box;
  -webkit-clip-path: polygon(15px 35px, calc(100% - 25px) 0, 100% 100%, 0% calc(100% - 30px));
          clip-path: polygon(15px 35px, calc(100% - 25px) 0, 100% 100%, 0% calc(100% - 30px));
}
@media (width <= 760px) {
  .access__info {
    background-color: transparent;
    color: #0F3256;
    padding: 0;
    margin: 0;
    -webkit-clip-path: none;
            clip-path: none;
  }
}
.access__info-img {
  max-width: 100%;
}
.access__info-address {
  font-weight: 600;
}
.access__info-tel {
  font-weight: 600;
}
.access__methods {
  margin-top: 100px;
  color: #0F3256;
  display: grid;
  gap: 70px;
}
.access__method-title {
  font-size: 20px;
  font-weight: 600;
}
.access__method-text {
  margin-top: 20px;
}

/* ----------------------------------------------------------------
footer
----------------------------------------------------------------*/
.footer {
  padding: 30px;
  background-color: #0F3256;
  display: block;
  text-align: center;
}
@media (width <= 760px) {
  .footer {
    background-color: #E4E2DE;
  }
}
.footer__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.footer__copy {
  font-weight: bold;
  color: #E4E2DE;
}
@media (width <= 760px) {
  .footer__copy {
    color: #0F3256;
  }
}

.footertop {
  padding: 30px;
  background-color: #0F3256;
  display: block;
  text-align: center;
}
.footertop__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.footertop__copy {
  font-weight: bold;
  color: #E4E2DE;
}

/* ----------------------------------------------------------------
よくある質問
----------------------------------------------------------------*/
.faq {
  margin: 250px 0;
}
@media (width <= 760px) {
  .faq {
    margin: 150px 0;
  }
}
.faq__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.faq__title {
  font-size: 32px;
  font-weight: bold;
  color: #0F3256;
  text-align: center;
}
@media (width <= 760px) {
  .faq__title {
    color: #E4E2DE;
    font-size: 19px;
  }
}
.faq__items {
  margin-top: 80px;
  display: grid;
  gap: 40px;
}
.faq__item {
  border: 1px solid #0F3256;
  border-radius: 15px;
  overflow: hidden;
}
@media (width <= 760px) {
  .faq__item {
    border-color: #E4E2DE;
  }
}
.faq__item.active .faq__unit {
  border-radius: 15px 15px 0 0;
}
.faq__item.active .faq__text {
  max-height: 500px;
  padding: 45px 60px;
  border-top: 1px solid #0F3256;
}
.faq__unit {
  background: #0F3256;
  color: #E4E2DE;
  padding: 20px 25px;
  font-size: 21px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
@media (width <= 760px) {
  .faq__unit {
    background-color: #E4E2DE;
    color: #0F3256;
    font-size: 18px;
    font-weight: 600;
  }
}
.faq__unit:hover {
  color: #e68e00;
}
.faq__text {
  max-height: 0;
  overflow: hidden;
  padding: 0 60px;
  border-top: 0;
  color: #0F3256;
  font-size: 21px;
  font-weight: bold;
  transition: max-height 0.4s ease, padding 0.4s ease, border-top 0.4s ease;
}
@media (width <= 760px) {
  .faq__text {
    color: #E4E2DE;
    font-size: 18px;
    font-weight: 600;
  }
}

.events {
  padding: 250px 0;
  background-color: #E4E2DE;
}
@media (width <= 760px) {
  .events {
    background-color: #0F3256;
  }
}
.events__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.events__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 40px;
}
@media (width <= 760px) {
  .events__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
  }
}
.events__item {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.events__item-pic-src {
  border-radius: 25px;
}
.events__item-text {
  width: 100%;
  padding: 15px;
  color: #fff;
  background-color: rgba(66, 117, 159, 0.7019607843);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  position: absolute;
  bottom: 0;
  z-index: 999;
  box-sizing: border-box;
}
.events__item-title {
  font-size: 20px;
  font-weight: bold;
}
@media (width <= 760px) {
  .events__item-title {
    font-size: 16px;
  }
}
.events__item-date {
  font-weight: bold;
}
@media (width <= 760px) {
  .events__item-date {
    font-size: 14px;
  }
}
.events__item-link {
  margin-top: 5px;
}
.events__item-link-src {
  display: inline-block;
  margin: 5px 10px 0 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 50, 86, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: relative;
  padding: 50px;
  color: #0F3256;
  background-color: #E4E2DE;
  border-radius: 25px;
  max-width: 1000px;
  width: 90%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}
@media (width <= 760px) {
  .modal {
    padding: 30px 15px;
  }
}
.modal__scroll-area {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.modal__close {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 85px;
  height: 85px;
  z-index: 999999;
  background-color: #0F3256;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
@media (width <= 760px) {
  .modal__close {
    width: 60px;
    height: 60px;
    top: -25px;
    right: 0;
  }
}
.modal__close::before, .modal__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 2px;
  background-color: #E4E2DE;
}
@media (width <= 760px) {
  .modal__close::before, .modal__close::after {
    width: 30px;
  }
}
.modal__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.modal__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.modal__column {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (width <= 760px) {
  .modal__column {
    grid-template-columns: none;
  }
}
.modal__date {
  font-weight: bold;
}
.modal__title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}
.modal__pic-src {
  border-radius: 25px;
}
@media (width <= 760px) {
  .modal__text {
    margin-top: 30px;
  }
}
.modal__link {
  margin-top: 30px;
}
@media (width <= 760px) {
  .modal__link {
    margin-top: 20px;
  }
}
.modal__link-src {
  display: inline-block;
  margin: 10px 20px 0 0;
}
.modal__comments {
  margin-top: 30px;
  display: grid;
  row-gap: 25px;
}
@media (width <= 760px) {
  .modal__comments {
    row-gap: 15px;
  }
}
.modal__comments-comment {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: top;
}
.modal__comments-comment:nth-child(even) {
  grid-template-columns: auto 1fr;
  order: 1;
}
.modal__comments-comment:nth-child(even) .modal__comments-comment-icon {
  order: 2;
}
.modal__comments-comment:nth-child(even) .modal__comments-comment-text {
  order: 1;
  margin-left: 0;
  margin-right: 10px;
}
.modal__comments-comment:nth-child(even) .modal__comments-comment-text::after {
  left: auto;
  right: -5%;
  transform: rotate(-90deg);
}
@media (width <= 760px) {
  .modal__comments-comment:nth-child(even) .modal__comments-comment-text::after {
    right: -8%;
  }
}
.modal__comments-comment-icon {
  margin-top: 10px;
  width: 60px;
  height: auto;
}
.modal__comments-comment-text {
  margin-left: 10px;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 25px;
  position: relative;
}
.modal__comments-comment-text::after {
  content: "";
  position: absolute;
  left: -5%;
  top: 25px;
  transform: rotate(90deg);
  border: 10px solid transparent;
  border-top: 15px solid #fff;
}
@media (width <= 760px) {
  .modal__comments-comment-text::after {
    left: -8%;
  }
}

.swiper {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  aspect-ratio: 9/6;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  background-color: #0B3254;
  opacity: 100%;
}

.swiper-pagination-bullet-active {
  background-color: #e68e00;
  z-index: 999;
}

.contact {
  padding: 250px 0;
  color: #0B3254;
  background: #E4E2DE;
}
@media (width <= 760px) {
  .contact {
    padding: 70px 0;
    color: #E4E2DE;
    background: #0B3254;
  }
}
.contact__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.contact__title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.contact__form {
  margin-top: 80px;
  display: grid;
  row-gap: 60px;
}
@media (width <= 760px) {
  .contact__form {
    margin-top: 50px;
    row-gap: 40px;
  }
}
.contact__unit {
  border: none;
  padding: 0;
  /* ラジオボタンが押された時（checked）の動き */
}
.contact__unit-label {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.contact__unit-label-required {
  margin-left: 10px;
  padding: 5px 10px;
  color: #E4E2DE;
  background-color: #0B3254;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
}
@media (width <= 760px) {
  .contact__unit-label-required {
    color: #0B3254;
    background: #E4E2DE;
  }
}
.contact__unit-input {
  width: 100%;
  margin-top: 15px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}
.contact__unit-input::-moz-placeholder {
  color: rgba(11, 50, 84, 0.7);
  opacity: 1;
}
.contact__unit-input::placeholder {
  color: rgba(11, 50, 84, 0.7);
  opacity: 1;
}
.contact__unit-textarea {
  width: 100%;
  height: 300px;
  margin-top: 15px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}
.contact__unit-radio {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 15px;
}
.contact__unit-content {
  display: flex;
  align-items: center;
}
.contact__unit-txt {
  display: flex;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
}
.contact__unit-txt::before, .contact__unit-txt::after {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  box-sizing: border-box;
}
.contact__unit-txt::before {
  width: 15px;
  height: 15px;
  border: 2px solid #0B3254;
}
@media (width <= 760px) {
  .contact__unit-txt::before {
    border: 2px solid #E4E2DE;
  }
}
.contact__unit-txt::after {
  width: 15px;
  height: 15px;
  background-color: #0B3254;
  transform: translateY(-50%) scale(0);
}
@media (width <= 760px) {
  .contact__unit-txt::after {
    background-color: #E4E2DE;
  }
}
.contact__unit-check:checked + .contact__unit-txt::after {
  transform: translateY(-50%) scale(1);
  -webkit-animation: anim-radio-2 0.3s linear;
          animation: anim-radio-2 0.3s linear;
}

.desktop-mainvisual {
  padding: 300px 0;
  background: url(../images/6.jpg) no-repeat center center/cover;
  color: #E4E2DE;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
.desktop-mainvisual__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.desktop-mainvisual__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}
.desktop-mainvisual__copy {
  margin-bottom: 85px;
  font-size: 40px;
  font-weight: bold;
}

.about {
  margin-bottom: 200px;
  color: #0F3256;
}
@media (width <= 760px) {
  .about {
    color: #E4E2DE;
    display: none;
  }
}
@media (width <= 760px) {
  .about__pc {
    display: none;
  }
}
.about__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.about__card {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}
.about__card:nth-child(even) .about__unit {
  order: 2;
}
.about__card:nth-child(even) .about__swiper {
  order: 1;
}
.about__unit-title {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
}
.about__pic-src {
  border-radius: 25px;
}
.about__swiper {
  position: relative;
}
.about__swiper-button-prev, .about__swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  width: 50px;
  height: 50px;
  color: #E4E2DE;
}
.about__swiper-button-prev {
  left: 30px;
}
.about__swiper-button-next {
  right: 30px;
}

.mobile-about {
  margin: 150px 0 100px 0;
  color: #E4E2DE;
  display: none;
}
@media (width <= 760px) {
  .mobile-about {
    display: block;
  }
}
.mobile-about__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.mobile-about__unit {
  margin-bottom: 125px;
}
.mobile-about__unit-title {
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: bold;
}
.mobile-about__swiper {
  position: relative;
}
.mobile-about__swiper-button-prev, .mobile-about__swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  width: 50px;
  height: 50px;
  color: #E4E2DE;
}
.mobile-about__swiper-button-prev {
  left: 30px;
}
.mobile-about__swiper-button-next {
  right: 30px;
}
.mobile-about__pic-src {
  border-radius: 25px;
}

.gallery {
  margin-bottom: 250px;
}
@media (width <= 760px) {
  .gallery {
    margin-bottom: 150px;
  }
}
.gallery__inner {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}
.gallery__list {
  width: 100%;
}
@media (width <= 760px) {
  .gallery__list {
    display: none;
  }
}
.gallery__list-mobile {
  display: none;
}
@media (width <= 760px) {
  .gallery__list-mobile {
    display: block;
  }
}
.gallery__row {
  display: flex;
  gap: 16px;
}
.gallery__row:not(:last-child) {
  margin-bottom: 16px;
}
.gallery__row img {
  display: block;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.gallery__row-large {
  width: 30%;
}
@media (width <= 760px) {
  .gallery__row-large {
    width: 100%;
  }
}
.gallery__row-half {
  width: calc(50% - 8px);
}
.gallery__row-small {
  width: 20%;
}
/*# sourceMappingURL=style.css.map */