@use 'sass:math';

@mixin inner($mw: 1100px, $w: 90%) {
    max-width: $mw;
    width: $w;
    margin-inline: auto;
}


$breakpoints: (
    "tablet": 760px,
);

@mixin mq($breakpoint: tablet) {
    @media (width <=map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, "MS PGothic", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    background-color: #E4E2DE;

    @include mq(tablet) {
        background-color: #0F3256
    }
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

html {
    scroll-behavior: smooth;
}


/* ----------------------------------------------------------------
header
----------------------------------------------------------------*/

.header {
    position: relative;
    z-index: 9999;

    &__inner {
        @include inner();
    }

    &__hamburger {
        background-color: #0F3256;
        padding: 20px;
        border-radius: 50%;
        position: fixed;
        z-index: 200;
        top: 30px;
        right: 30px;
        width: 85px;
        height: 85px;
        z-index: 1100;

        @include mq(tablet) {
            background-color: #E4E2DE;
            top: auto;
            bottom: 30px;
            right: 30px;
        }

        &-bar {
            display: grid;
            gap: 10px;
            width: 45px;
            height: 2px;
            background-color: #E4E2DE;
            position: absolute;
            transition: all 0.3s ease-in-out;
            left: 50%;
            top: 50%;

            @include mq(tablet) {
                background-color: #0F3256;
            }

            &:nth-child(1) {
                transform: translate(-50%, -12px);
            }

            &:nth-child(2) {
                transform: translate(-50%, 0);
            }

            &:nth-child(3) {
                transform: translate(-50%, 12px);

                &.active {
                    background-color: #0F3256;

                    @include mq(tablet) {
                        background-color: #E4E2DE;
                    }
                }
            }


        }

        &.active {

            background-color: #E4E2DE;

            @include mq(tablet) {
                background-color: #0F3256;
            }

            .header__hamburger-bar {
                background-color: #0F3256;

                @include mq(tablet) {
                    background-color: #E4E2DE;
                }
            }

            .header__hamburger-bar:nth-child(1) {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            .header__hamburger-bar:nth-child(2) {
                opacity: 0;
            }

            .header__hamburger-bar:nth-child(3) {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

}

.gnav {
    position: fixed;
    top: 0;
    right: 0;
    width: 365px;
    height: 100vh;
    background-color: #0F3256;
    border-radius: 50px 0 0 50px;
    transform: translateX(100%);
    transition: transform .4s ease;
    z-index: 1000;

    @include mq(tablet) {
        background-color: #E4E2DE;
    }

    &.active {
        transform: translateX(0);
    }

    &__list {
        padding: 135px 0 55px 50px;
    }

    &__item {
        padding-bottom: 35px;
        line-height: 2;
        color: #E4E2DE;
        font-size: 18px;
        font-weight: 600;
        transition: 0.3s;

        @include mq(tablet) {
            color: #0F3256;
        }

        &::after {
            content: "";
            display: block;
            width: 270px;
            border-bottom: 1px solid #E4E2DE;

            @include mq(tablet) {
                border-color: #0F3256;
            }
        }

        &:hover {
            color: #e68e00;
        }
    }
}


/* ----------------------------------------------------------------
mainvisual
----------------------------------------------------------------*/

.mainvisual {
    background: url(../images/batako.png) no-repeat center center/cover;
    width: 100%;
    height: 90vh;
    position: relative;

    &__inner {
        @include inner();
    }

    &__topics {
        position: absolute;
        right: 0px;
        bottom: 20px;
        background-color: #0F3256;
        border-radius: 30px 0 0 30px;
        width: 430px;
        padding: 35px 70px 35px 50px;
        color: #E4E2DE;

        @include mq(tablet) {
            background-color: #E4E2DE;
            color: #0F3256;
        }

        &-header {
            display: flex;
            gap: 30px;
            align-items: center;
            margin-bottom: 30px;
        }

        &-title {
            margin: 0;
            font-size: 20px;
            font-weight: bold;
        }

        &-list {
            display: grid;
            gap: 15px;
        }
    }

    &__time {
        font-size: 16px;
        font-weight: 600;
    }
}


/* ----------------------------------------------------------------
検索
----------------------------------------------------------------*/
.search {
    color: #0F3256;
    text-align: center;

    @include mq(tablet) {
        color: #E4E2DE
    }

    &__inner {
        @include inner();
    }

    &__title {
        font-size: 50px;
        font-weight: bold;
        margin: 40px 0 60px 0;

        @include mq(tablet) {
            font-size: 24px;
            margin: 30px 0;
        }
    }

    &__form {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        height: 70px;
        padding: 0 40px 0 96px;
        background: #fff;
        border-radius: 50px;
    }

    &__input {
        flex: 1;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        text-align: left;
        font-weight: 600;
    }

    &__button {
        flex-shrink: 0;
        width: 56px;
        height: 56px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
}


/* ----------------------------------------------------------------
タグスライド
----------------------------------------------------------------*/

.slider {
    margin-top: 70px;
    overflow: hidden;

    &__row {
        display: flex;
        gap: 30px;
        animation: slide 20s linear infinite;
    }

    &__triangle {
        position: relative;
        display: block;
        width: 154px;
        height: 154px;

        img {
            display: block;
            width: 100%;
        }

        span {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
        }

        &--left {
            img {
                transform: rotate(0deg);
            }

            span {
                left: 35%;
                bottom: 20%;
                transform: translateX(-50%);
            }
        }

        &--top {
            img {
                transform: rotate(270deg);
            }

            span {
                left: 35%;
                top: 20%;
                transform: translateX(-50%);
            }
        }

        &--right {
            img {
                transform: rotate(180deg);
            }

            span {
                right: 35%;
                top: 20%;
                transform: translateX(50%);
            }
        }

        &--bottom {
            img {
                transform: rotate(90deg);
            }

            span {
                right: 35%;
                bottom: 20%;
                transform: translateX(50%);
            }
        }
    }

    &__wrapper {
        display: flex;
        width: max-content;
        margin-bottom: 30px;
        animation: marquee 20s linear infinite;
    }

    &__row {
        display: flex;
        gap: 30px;
        flex-shrink: 0;
        margin-right: 30px;
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% / 2));
    }
}


/* ----------------------------------------------------------------
サービス
----------------------------------------------------------------*/
.service {
    margin-top: 30px;

    &__inner {
        @include inner();
    }

    &__grid {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: start;

        &-img {
            padding: 220px 0;
            width: 100%;
            height: auto;
            display: block;
            border-radius: 25px;
            position: sticky;
            top: 0;
        }

        @include mq(tablet) {
            display: none;
        }
    }

    &__introduction {
        padding: 280px 0;
        display: grid;
        row-gap: 120px;
    }
}

.unit {
    color: #0F3256;

    @include mq(tablet) {
        color: #E4E2DE;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
    }

    &__text {
        margin-bottom: 35px;
    }

    &__btn {
        position: relative;
        padding: 10px 30px;
        display: block;
        margin-left: auto;
        border: 1px solid #0F3256;
        width: fit-content;
        border-radius: 35px;
        transition: 0.3s;
        cursor: pointer;

        @include mq(tablet) {
            border-color: #E4E2DE;
        }

        &:hover {
            background-color: #e68e00;
        }

        &:hover::after {
            transform: translateY(-50%) translateX(10px);
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -20px;
            transform: translateY(-50%);
            width: 40px;
            height: 1px;
            background-color: #0F3256;
            transition: transform 0.3s;

            @include mq(tablet) {
                background-color: #E4E2DE;
            }
        }
    }
}

.service-card {
    margin-top: 150px;

    &__img {
        border-radius: 10px;
    }

    &__title {
        margin-top: 55px;
        font-size: 24px;
        font-weight: bold;
        color: #E4E2DE;
    }


    &__text {
        margin-top: 20px;
        font-size: 16px;
        color: #E4E2DE;
    }

    &__btn {
        margin: 35px 20px 0 auto;
        position: relative;
        padding: 10px 30px;
        display: block;
        border: 1px solid #E4E2DE;
        color: #E4E2DE;
        width: fit-content;
        border-radius: 35px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: #e68e00;
        }

        &:hover::after {
            transform: translateY(-50%) translateX(10px);
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -20px;
            transform: translateY(-50%);
            width: 40px;
            height: 1px;
            background-color: #E4E2DE;
            transition: transform 0.3s;
        }
    }
}

.service__swiper {
    display: none;

    @include mq(tablet) {
        display: block;
    }

    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.mobile__swiper-slide img {
    display: block;
    width: 100%;
    aspect-ratio: 9 / 6;
    object-fit: cover;
}

.mobile__swiper-pagination .swiper-pagination-bullet {
    background-color: #E4E2DE;
    opacity: 1;
}

.mobile__swiper-pagination .swiper-pagination-bullet-active {
    background-color: #e68e00;
}

/* ----------------------------------------------------------------
お知らせリスト
----------------------------------------------------------------*/
.news {
    margin-top: 30px;
    color: #0F3256;

    @include mq(tablet) {
        margin-top: 150px;
        color: #E4E2DE
    }

    &__inner {
        @include inner();
    }

    &__list {
        display: grid;
        gap: 50px;
    }

    &__item {
        &-link {
            display: flex;
            align-items: center;
        }

        .fa-arrow-right {
            margin-left: auto;
        }

        &-date {
            margin-right: 50px;
            position: relative;
            padding-right: 50px;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 1px;
                height: 72px;
                background-color: #0F3256;

                @include mq(tablet) {
                    background-color: #E4E2DE;
                }
            }
        }

        &_year {
            font-size: 16px;
        }

        &-day {
            font-size: 32px;
        }
    }

}


/* ----------------------------------------------------------------
アクセス
----------------------------------------------------------------*/

.access {
    padding-top: 250px;
    padding-bottom: 250px;

    @include mq(tablet) {
        margin-top: 150px;
        padding: 150px 0;
        background-color: #E4E2DE
    }

    &__inner {
        @include inner();
    }

    &__unit {
        display: flex;
        align-items: center;
        position: relative;

        @include mq(tablet) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &__map {
        width: 100%;
        position: relative;
        z-index: 2;

        @include mq(tablet) {
            margin-top: 100px;
        }
    }

    &__frame {
        width: 530px;
        height: 500px;
        border: none;
        display: block;

        @include mq(tablet) {
            width: 100%;
            height: 400px; // お好みで調整
        }
    }

    &__info {
        display: grid;
        gap: 22px;
        position: relative;
        background-color: #0F3256;
        color: #E4E2DE;
        width: 100%;
        margin: -105px -7px 0 -85px;
        padding: 95px 95px 95px 140px;
        box-sizing: border-box;
        clip-path: polygon(15px 35px, calc(100% - 25px) 0, 100% 100%, 0% calc(100% - 30px));

        @include mq(tablet) {
            background-color: transparent;
            color: #0F3256;
            padding: 0;
            margin: 0;
            clip-path: none;
        }


        &-img {
            max-width: 100%;
        }

        &-address {
            font-weight: 600;
        }

        &-tel {
            font-weight: 600;
        }
    }

    &__methods {
        margin-top: 100px;
        color: #0F3256;
        display: grid;
        gap: 70px;
    }

    &__method {
        &-title {
            font-size: 20px;
            font-weight: 600;
        }

        &-text {
            margin-top: 20px;
        }
    }
}


/* ----------------------------------------------------------------
footer
----------------------------------------------------------------*/

.footer {
    padding: 30px;
    background-color: #0F3256;
    display: block;
    text-align: center;

    @include mq(tablet) {
        background-color: #E4E2DE
    }

    &__inner {
        @include inner();
    }

    &__copy {
        font-weight: bold;
        color: #E4E2DE;

        @include mq(tablet) {
            color: #0F3256;
        }
    }
}

        span {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
        }

    @include mq(tablet) {
        margin: 150px 0;
    }

    &__inner {
        @include inner();
    }

    &__title {
        font-size: 32px;
        font-weight: bold;
        color: #0F3256;
        text-align: center;

        @include mq(tablet) {
            color: #E4E2DE;
            font-size: 19px;
        }
    }

    &__items {
        margin-top: 80px;
        display: grid;
        gap: 40px;
    }

    &__item {
        border: 1px solid #0F3256;
        border-radius: 15px;
        overflow: hidden;

        @include mq(tablet) {
            border-color: #E4E2DE;
        }

        &.active {
            .faq__unit {
                border-radius: 15px 15px 0 0;
            }

            .faq__text {
                max-height: 500px;
                padding: 45px 60px;
                border-top: 1px solid #0F3256;
            }
        }
    }

    &__unit {
        background: #0F3256;
        color: #E4E2DE;
        padding: 20px 25px;
        font-size: 21px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;

        @include mq(tablet) {
            background-color: #E4E2DE;
            color: #0F3256;
            font-size: 18px;
            font-weight: 600;
        }

        &:hover {
            color: #e68e00;
        }
    }

    &__text {
        max-height: 0;
        overflow: hidden;
        padding: 0 60px;
        border-top: 0;
        color: #0F3256;
        font-size: 21px;
        font-weight: bold;
        transition:
            max-height .4s ease,
            padding .4s ease,
            border-top .4s ease;

        @include mq(tablet) {
            color: #E4E2DE;
            font-size: 18px;
            font-weight: 600;
        }
    }
}


/* ----------------------------------------------------------------
サービス
----------------------------------------------------------------*/
.service {
    margin-top: 30px;

    &__inner {
        @include inner();
    }

    &__grid {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: start;

        &-img {
            padding: 220px 0;
            width: 100%;
            height: auto;
            display: block;
            border-radius: 25px;
            position: sticky;
            top: 0;
        }

        @include mq(tablet) {
            display: none;
        }
    }

    &__introduction {
        padding: 280px 0;
        display: grid;
        row-gap: 120px;
    }
}

.unit {
    color: #0F3256;

    @include mq(tablet) {
        color: #E4E2DE;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
    }

    &__text {
        margin-bottom: 35px;
    }

    &__btn {
        position: relative;
        padding: 10px 30px;
        display: block;
        margin-left: auto;
        border: 1px solid #0F3256;
        width: fit-content;
        border-radius: 35px;
        transition: 0.3s;
        cursor: pointer;

        @include mq(tablet) {
            border-color: #E4E2DE;
        }

        &:hover {
            background-color: #e68e00;
        }

        &:hover::after {
            transform: translateY(-50%) translateX(10px);
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -20px;
            transform: translateY(-50%);
            width: 40px;
            height: 1px;
            background-color: #0F3256;
            transition: transform 0.3s;

            @include mq(tablet) {
                background-color: #E4E2DE;
            }
        }
    }
}

.service-card {
    margin-top: 150px;

    &__img {
        border-radius: 10px;
    }

    &__title {
        margin-top: 55px;
        font-size: 24px;
        font-weight: bold;
        color: #E4E2DE;
    }


    &__text {
        margin-top: 20px;
        font-size: 16px;
        color: #E4E2DE;
    }

    &__btn {
        margin: 35px 20px 0 auto;
        position: relative;
        padding: 10px 30px;
        display: block;
        border: 1px solid #E4E2DE;
        color: #E4E2DE;
        width: fit-content;
        border-radius: 35px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: #e68e00;
        }

        &:hover::after {
            transform: translateY(-50%) translateX(10px);
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -20px;
            transform: translateY(-50%);
            width: 40px;
            height: 1px;
            background-color: #E4E2DE;
            transition: transform 0.3s;
        }
    }
}

.service__swiper {
    display: none;

    @include mq(tablet) {
        display: block;
    }
}


.swiper {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    aspect-ratio: 9/6;
    object-fit: cover;
}

.swiper-pagination-bullet {
    background-color: #E4E2DE;
    opacity: 100%;
}

.swiper-pagination-bullet-active {
    background-color: #e68e00;
    z-index: 999;
}

/* ----------------------------------------------------------------
お知らせリスト
----------------------------------------------------------------*/
.news {
    margin-top: 30px;
    color: #0F3256;

    @include mq(tablet) {
        margin-top: 150px;
        color: #E4E2DE
    }

    &__inner {
        @include inner();
    }

    &__list {
        display: grid;
        gap: 50px;
    }

    &__item {
        &-link {
            display: flex;
            align-items: center;
        }

        .fa-arrow-right {
            margin-left: auto;
        }

        &-date {
            margin-right: 50px;
            position: relative;
            padding-right: 50px;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 1px;
                height: 72px;
                background-color: #0F3256;

                @include mq(tablet) {
                    background-color: #E4E2DE;
                }
            }
        }

        &_year {
            font-size: 16px;
        }

        &-day {
            font-size: 32px;
        }
    }

}


/* ----------------------------------------------------------------
アクセス
----------------------------------------------------------------*/

.access {
    margin-top: 250px;
    padding-bottom: 250px;

    @include mq(tablet) {
        margin-top: 150px;
        padding: 150px 0;
        background-color: #E4E2DE
    }

    &__inner {
        @include inner();
    }

    &__unit {
        display: flex;
        align-items: center;
        position: relative;

        @include mq(tablet) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &__map {
        width: 100%;
        position: relative;
        z-index: 2;

        @include mq(tablet) {
            margin-top: 100px;
        }
    }

    &__frame {
        width: 530px;
        height: 500px;
        border: none;
        display: block;

        @include mq(tablet) {
            width: 100%;
            height: 400px; // お好みで調整
        }
    }

    &__info {
        display: grid;
        gap: 22px;
        position: relative;
        background-color: #0F3256;
        color: #E4E2DE;
        width: 100%;
        margin: -105px -7px 0 -85px;
        padding: 95px 95px 95px 140px;
        box-sizing: border-box;
        clip-path: polygon(15px 35px, calc(100% - 25px) 0, 100% 100%, 0% calc(100% - 30px));

        @include mq(tablet) {
            background-color: transparent;
            color: #0F3256;
            padding: 0;
            margin: 0;
            clip-path: none;
        }


        &-img {
            max-width: 100%;
        }

        &-address {
            font-weight: 600;
        }

        &-tel {
            font-weight: 600;
        }
    }

    &__methods {
        margin-top: 100px;
        color: #0F3256;
        display: grid;
        gap: 70px;
    }

    &__method {
        &-title {
            font-size: 20px;
            font-weight: 600;
        }

        &-text {
            margin-top: 20px;
        }
    }
}


/* ----------------------------------------------------------------
footer
----------------------------------------------------------------*/

.footer {
    padding: 30px;
    background-color: #0F3256;
    display: block;
    text-align: center;

    @include mq(tablet) {
        background-color: #E4E2DE
    }

    &__inner {
        @include inner();
    }

    &__copy {
        font-weight: bold;
        color: #E4E2DE;

        @include mq(tablet) {
            color: #0F3256;
        }
    }
}

.footertop {
    padding: 30px;
    background-color: #0F3256;
    display: block;
    text-align: center;

    &__inner {
        @include inner();
    }

    &__copy {
        font-weight: bold;
        color: #E4E2DE;
    }
}


/* ----------------------------------------------------------------
よくある質問
----------------------------------------------------------------*/

.faq {
    margin: 250px 0;

    @include mq(tablet) {
        margin: 150px 0;
    }

    &__inner {
        @include inner();
    }

    &__title {
        font-size: 32px;
        font-weight: bold;
        color: #0F3256;
        text-align: center;

        @include mq(tablet) {
            color: #E4E2DE;
            font-size: 19px;
        }
    }

    &__items {
        margin-top: 80px;
        display: grid;
        gap: 40px;
    }

    &__item {
        border: 1px solid #0F3256;
        border-radius: 15px;
        overflow: hidden;

        @include mq(tablet) {
            border-color: #E4E2DE;
        }

        &.active {
            .faq__unit {
                border-radius: 15px 15px 0 0;
            }

            .faq__text {
                max-height: 500px;
                padding: 45px 60px;
                border-top: 1px solid #0F3256;
            }
        }
    }

    &__unit {
        background: #0F3256;
        color: #E4E2DE;
        padding: 20px 25px;
        font-size: 21px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;

        @include mq(tablet) {
            background-color: #E4E2DE;
            color: #0F3256;
            font-size: 18px;
            font-weight: 600;
        }

        &:hover {
            color: #e68e00;
        }
    }

    &__text {
        max-height: 0;
        overflow: hidden;
        padding: 0 60px;
        border-top: 0;
        color: #0F3256;
        font-size: 21px;
        font-weight: bold;
        transition:
            max-height .4s ease,
            padding .4s ease,
            border-top .4s ease;

        @include mq(tablet) {
            color: #E4E2DE;
            font-size: 18px;
            font-weight: 600;
        }
    }
}



// *-------------------------------------
// ここから俺が書く
// -------------------------------------*

.events {
    padding: 250px 0;
    background-color: #E4E2DE;

    @include mq() {
        background-color: #0F3256;
    }

    &__inner {
        @include inner();
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px 40px;

        @include mq() {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px 20px;
        }
    }

    &__item {
        position: relative;
        width: fit-content;

        &-pic-src {
            border-radius: 25px;
        }

        &-text {
            width: 100%;
            padding: 15px;
            color: #fff;
            background-color: #42759FB3;
            border-bottom-right-radius: 25px;
            border-bottom-left-radius: 25px;
            position: absolute;
            bottom: 0;
            z-index: 999;
            box-sizing: border-box;


        }

        &-title {
            font-size: 20px;
            font-weight: bold;

            @include mq() {
                font-size: 16px;
            }
        }

        &-date {
            font-weight: bold;

            @include mq() {
                font-size: 14px;
            }
        }

        &-link {
            margin-top: 5px;
        }

        &-link-src {
            display: inline-block;
            margin: 5px 10px 0 0;
        }

    }
}

// *-------------------------------------
// モーダル
// -------------------------------------*

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#0F3256, 0.7); // 背景を暗く
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;

    // 初期状態は非表示
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    // JavaScriptでこのクラスがついたら表示
    &.is-open {
        opacity: 1;
        pointer-events: auto;
    }
}

.modal {
    position: relative; // ×ボタンの基準位置にするため追加
    padding: 50px;
    color: #0F3256;
    background-color: #E4E2DE;
    border-radius: 25px;
    max-width: 1000px; // 画面からはみ出さないようにお好みの幅を設定
    width: 90%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;

    @include mq() {
        padding: 30px 15px;
    }


    &__scroll-area {
        overflow-y: auto;
        width: 100%;
        height: 100%;
    }

    &__close {
        position: absolute;

        top: -25px;
        right: -25px;
        width: 85px;
        height: 85px;
        z-index: 999999;
        background-color: #0F3256;
        border: none;
        border-radius: 100%;
        cursor: pointer;

        @include mq() {
            width: 60px;
            height: 60px;


            //ばつの位置をきく！！！！
            top: -25px;
            right: 0;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 2px;

            background-color: #E4E2DE;

            @include mq() {
                width: 30px;
            }

        }

        // 【修正点】SCSSのネスト内なので、クラス名を書かずにそのまま&で繋ぎます
        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    &__inner {
        @include inner();
    }

    &__column {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        column-gap: 30px;

        @include mq() {
            grid-template-columns: none;
        }
    }

    &__date {
        font-weight: bold;
    }

    &__title {
        margin-top: 10px;
        font-size: 24px;
        font-weight: bold;
    }

    &__pic-src {
        border-radius: 25px;
    }

    &__text {
        @include mq() {
            margin-top: 30px;
        }
    }

    &__link {

        margin-top: 30px;

        @include mq() {
            margin-top: 20px;
        }

        &-src {
            display: inline-block;
            margin: 10px 20px 0 0;
        }
    }

    &__comments {
        margin-top: 30px;
        display: grid;
        row-gap: 25px;

        @include mq() {
            row-gap: 15px;
        }

        &-comment {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: top;

            &:nth-child(even) {
                grid-template-columns: auto 1fr;
                order: 1;

                .modal__comments-comment-icon {
                    order: 2;
                }

                .modal__comments-comment-text {
                    order: 1;
                    margin-left: 0;
                    margin-right: 10px;

                    &::after {
                        left: auto;
                        right: -5%;
                        transform: rotate(-90deg);

                        @include mq() {
                            right: -8%;
                        }
                    }
                }
            }
        }

        &-comment-icon {
            margin-top: 10px;
            width: 60px;
            height: auto;
        }

        &-comment-text {
            margin-left: 10px;
            background-color: #fff;
            padding: 15px 30px;
            border-radius: 25px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: -5%;
                top: 25px;
                transform: rotate(90deg);
                border: 10px solid transparent;
                border-top: 15px solid #fff;

                @include mq() {
                    left: -8%;
                }
            }
        }
    }
}

// *-------------------------------------
// スワイパー
// -------------------------------------*

.swiper {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    aspect-ratio: 9/6;
    object-fit: cover;
}

.swiper-pagination-bullet {
    background-color: #0B3254;
    opacity: 100%;
}

.swiper-pagination-bullet-active {
    background-color: #e68e00;
    z-index: 999;
}


// *-------------------------------------
// お問い合わせ
// -------------------------------------*


.contact {
    padding: 250px 0;
    color: #0B3254;
    background: #E4E2DE;

    @include mq() {
        padding: 70px 0;
        color: #E4E2DE;
        background: #0B3254;
    }

    &__inner {
        @include inner();

    }

    &__title {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }

    &__form {
        margin-top: 80px;
        display: grid;
        row-gap: 60px;

        @include mq() {
            margin-top: 50px;
            row-gap: 40px;
        }
    }

    &__unit {
        border: none;
        padding: 0;

        &-label {
            display: inline-flex;
            align-items: center;
            font-size: 20px;
            font-weight: bold;
        }

        &-label-required {
            margin-left: 10px;
            padding: 5px 10px;
            color: #E4E2DE;
            background-color: #0B3254;
            font-size: 14px;
            font-weight: bold;
            border-radius: 10px;

            @include mq() {
                color: #0B3254;
                background: #E4E2DE;
            }
        }

        &-input {
            width: 100%;
            margin-top: 15px;
            padding: 20px;
            background-color: #fff;
            border-radius: 15px;

            &::placeholder {
                color: rgba(#0B3254, 0.7);
                opacity: 1; // Firefoxで薄くなりすぎるのを防ぐための設定
            }
        }

        &-textarea {
            width: 100%;
            height: 300px;
            margin-top: 15px;
            padding: 20px;
            background-color: #fff;
            border-radius: 15px;
        }

        &-radio {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            margin-top: 15px;
        }

        &-content {
            display: flex;
            align-items: center;
        }

        &-txt {
            display: flex;
            font-size: 16px;
            align-items: center;
            cursor: pointer;
            position: relative;
            padding-left: 25px;

            &::before,
            &::after {
                border-radius: 50%;
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                box-sizing: border-box;
            }

            &::before {
                width: 15px;
                height: 15px;
                border: 2px solid #0B3254;

                @include mq() {
                    border: 2px solid #E4E2DE;
                }
            }

            // 【下：押したとき用】初期状態は隠す
            &::after {
                width: 15px;
                height: 15px;
                background-color: #0B3254;
                transform: translateY(-50%) scale(0);

                @include mq() {
                    background-color: #E4E2DE;
                }
            }
        }

        /* ラジオボタンが押された時（checked）の動き */
        &-check:checked+&-txt {
            &::after {
                transform: translateY(-50%) scale(1);
                animation: anim-radio-2 .3s linear;
            }
        }
    }
}


// *-------------------------------------
// コトづくり研究所について
// -------------------------------------*
.desktop-mainvisual {
    padding: 300px 0;
    background: url(../images/6.jpg) no-repeat center center/cover;
    color: #E4E2DE;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);

    &__inner {
        @include inner();
    }

    &__title {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 600
    }

    &__copy {
        margin-bottom: 85px;
        font-size: 40px;
        font-weight: bold;
    }
}

.about {
    margin-bottom: 200px;
    color: #0F3256;

    @include mq(tablet) {
        color: #E4E2DE;
        display: none;
    }

    &__pc {
        @include mq(tablet) {
            display: none;
        }
    }

    &__inner {
        @include inner();
    }

    &__card {
        margin-top: 200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        align-items: center;

        &:nth-child(even) {

            .about__unit {
                order: 2;
            }

            .about__swiper {
                order: 1;
            }
        }
    }

    &__unit {
        &-title {
            margin-bottom: 30px;
            font-size: 40px;
            font-weight: bold
        }
    }

    &__pic {
        &-src {
            border-radius: 25px;
        }
    }

    &__swiper {
        position: relative;
    }

    &__swiper-button-prev,
    &__swiper-button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
        width: 50px;
        height: 50px;
        color: #E4E2DE;
    }

    &__swiper-button-prev {
        left: 30px;
    }

    &__swiper-button-next {
        right: 30px;
    }
}

.mobile-about {
    margin: 150px 0 100px 0;
    color: #E4E2DE;
    display: none;

    @include mq(tablet) {
        display: block;
    }

    &__inner {
        @include inner();
    }

    &__unit {
        margin-bottom: 125px;

        &-title {
            margin-bottom: 35px;
            font-size: 24px;
            font-weight: bold;
        }
    }

    &__swiper {
        position: relative;
    }

    &__swiper-button-prev,
    &__swiper-button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
        width: 50px;
        height: 50px;
        color: #E4E2DE;
    }

    &__swiper-button-prev {
        left: 30px;
    }

    &__swiper-button-next {
        right: 30px;
    }

    &__pic {
        &-src {
            border-radius: 25px;
        }
    }
}

.gallery {
    margin-bottom: 250px;

    @include mq(tablet) {
        margin-bottom: 150px;
    }

    &__inner {
        @include inner();
    }

    &__list {
        width: 100%;

        @include mq(tablet) {
            display: none;
        }


        &-mobile {
            display: none;

            @include mq(tablet) {
                display: block;
            }
        }
    }

    &__row {
        display: flex;
        gap: 16px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        img {
            display: block;
            height: 220px;
            object-fit: cover;
            border-radius: 8px;
        }

        &-large {
            width: 30%;

            @include mq(tablet) {
                width: 100%;
            }
        }

        &-half {
            width: calc(50% - 8px);
        }

        &-small {
            width: 20%;
        }
    }
}